@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

.App{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height:  100vh;
    overflow-x: hidden;
    background: linear-gradient(#30b3d4, #ffffff);
}

.App-header .logo,header .subtitle,
header ul li {
    color: #fff;
    background: -webkit-linear-gradient(45deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
    font-size: 8em;
    /* Size for .logo */
    text-transform: uppercase;
    letter-spacing: 6px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    /* Allows positioning of pseudo-elements relative to the logo */
    transition: transform 0.3s ease;
    padding: 30;
}

header ul li  {
    font-size: 3em;
    padding: 50px;
    /* Size for menu items */
}
header .subtitle {
    display: block;
    /* Ensures the subtitle takes up its own line */
    font-size: 3em;
    /* Adjust size to your preference */
    margin-top: 0px;
    /* Optional: Add space between the logo and subtitle */
}
header .logo:hover,header .subtitle:hover,
header ul li a:hover {
    color: transparent;
    /* Making the main text transparent to show layers below */
    text-shadow:
        1px 1px 0px #b19cd9,
        2px 2px 0px #9b59b6,
        3px 3px 0px #8e44ad,
        4px 4px 0px #7d3c98,
        5px 5px 0px #6c3483;
    /* Multiple shadows to represent layers of the text in varying shades of purple */
}

.home-button {
    background-color: #30b3d4;
    padding: 15px 70px;
    align-items: center;
}

.home-button {
    color: white;
    padding: 15px 70px;
    font-size: 18px; /* Larger button text */
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 200px;
  }
  
  .home-button:hover {
    background-color: #0056b3;
    
  }

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;;
}

header ul li {
    list-style: none;
    margin-left: 0px;
}
